/* Scaffolding Classes (For quick layouts using colors) */
.back-red 		{ background: red; }
.back-orange 	{ background: orange; }
.back-yellow 	{ background: yellow; }
.back-green 	{ background: green; }
.back-blue 		{ background: blue; }
.back-purple 	{ background: purple; }
.fore-red 		{ color: red; }
.fore-orange 	{ color: orange; }
.fore-yellow 	{ color: yellow; }
.fore-green 	{ color: green; }
.fore-blue 		{ color: blue; }
.fore-purple 	{ color: purple; }
.debug-border	{ border: 1px solid red; }